<h3>
    About the Scholar
</h3>
        <p>
            Dr. Sant Kumar Kapoor is disciple of Yogiraj Sri Sripad Babaji Maharaj,
            Vrindavan and H.H. Maharishi Mahesh Yogiji Mahraj. Dr. Kapoor is continuing
            with the old traditions and is reviving the ancient discipline of Vedic mathematics
            and Vedic Geometry. For his excellence and service rendered in the field of Vedic
            mathematics, he has been awarded “Shri Guru Gangeshwaranandji Veda Ratna
            Puraskar-1997” by Bhartiya Vidya Bhavan, Bangalore. The Veda Ratna Puruskar
            as these are called have come to be accepted as highest epitomes of all honours
            that a Vedic scholar can strive to achieve in his life time.

            Dr. Kapoor was born on February 26, 1946 He graduated as B.Sc. (Hon.) in Mathematics from Kurukshetra University, Kurukshetra in 1965 with distinction of first class first. He post-graduated in Mathematics from Punjab University, Chandigarh in 1967 with distinction. He has been National Scholar throughout. He did his LL.B. in 1970 from Delhi University and joined Haryana Judicial Service since 1977. He was awarded Ph.D. in Mathematics from Kurukshetra University, Kurukshetra, on the basis of Thesis submitted in 1987. His doctoral thesis is first of its kind and is about the mathematical basis of Vedic literature. He had been Visiting Professor of Indian Institute of Maharishi Vedic Science & Technology from 1988 to 1992.
            His published books are: Vedic Geometry (1994), Fermat's Last Theorem And Higher Spaces Reality Course (1996), Foundations of Higher Vedic Mathematics (1998), Goldbach Theorem (2000) and Glimpses of Vedic Mathematics (2003).
            Presently he is working on the transcendental basics of real five space.
            His another passion is jurisprudence and is presently posted as Additional District & Sessions Judge, Panchkula (Haryana) India.
        </p>
