<H3>Fermat's Last Theorem</H3>
<p>Fermat's Last Theorem (FLT) has remained most famous unsolved mathematical problem. This theorem has also attracted
    the attention of Dr.S.K.Kapoor. He has published his results about the truth of this property of numbers. He has
    worked out the theorem with different approaches. Essentially all these approaches are geometric in nature but still
    these are different in characteristics and as such these may be taken as different proofs of the theorem. His
    approaches and conclusions are not only having intrinsic academic values but also these have historic angle as much
    as that these accept inspiration as well as working operations from a distant source i.e. Vedic literature. These
    results are also published in point of time than the proof now accepted in the academic circles.</p>
<p>Three of these proofs of FLT were published in "Modern Science & Vedic Science" (Volume 3 No.1, 1989) with the
    caption "Vedic Mathematical Concepts and Their Applications to Unsolved Mathematical Problems: Three Proofs of
    Fermat's Last Theorem". Chapter-10 of the book "Vedic Geometry" (1994) as well takes up some of the aspects of this
    property of numbers under the caption "Chapter 10: Conclusions and their Applications to the Solution of Fermat's
    Last Theorem". Then followed the book "Fermat's Last Theorem and Higher Spaces Reality Course" (1996) in which in
    addition to the outline of different formats of the approaches to the proof and in addition to the general proof of
    FLT, the result of the theorem has been generalised as Generalised FLT for whole range of hypercubes. The concepts
    of power sets and the application of different place value systems to test the truth of any given triple of whole
    numbers have also been introduced which may prove to be very handy for tests of the truth of this property known as
    FLT. These proofs are on different formats which are worked out as:</p>
<ol>
    <li>On Domain Format</li>
    <li>On Simplex Format</li>
    <li>On Values Square Format</li>
    <li>On the Format of Domain As Dimension Of Another Domain</li>
    <li>On the Format of Hypercubes</li>
</ol>
<p>Dr. Kapoor has generalised the property by extending it to the geometric property of hypercubes of every order.
    Fermat's Last Theorem speaks out the property of linear dimensional order only. The cause of the restriction being
    the linear dimensional order so we get the restriction of powers being three and higher. Dr. Kapoor's results
    generalized the theorem as a geometric property of hypercubes by a shift from linear dimensional order to a spatial
    dimensional order. The generalized statement comes to be as that "no hypercube can be duplicated" because of the
    interlocking of (n-2) space with n-space as dimension and domain respectively.</p>
<p>For practical testing of triplets of whole numbers Dr. Kapoor has introduced the concept of Power Sets and same have
    been tabulated as Appendix of the book.</p>