<h3>Ganita Sutras</h3>
<p>Ganita Sutras is a complete system in itself. These are Vedic aphorisms. These are 29 in number; 16 of them are
    designated as Sutras and other 13 as Upsutras. Credit goes to Swami Bharti Krisna Tirthaji Maharaj, a Shankracharya
    of Kanshipeeth to focus the attention of the present generation about potentialities of Sutras.</p>
<p>The information contained in the book titled "Vedic Mathematics" compiled by Prof. V.S. Agarwala, published (1965)
    from the manuscript papers of Swamiji make us known as how Swamiji had to devote many years to decode the working
    rules of these Sutras.</p>
<p>From the demonstrations of the working rules of these Sutras in this book it has convinced many about the
    potentialities of the Sutras. Since then many scholars have further demonstrated about their potentialities to make
    the mathematics much easier and more effectively within the comprehensions of much larger population and also about
    their utility and academic values in many ways. Dr. S. K. Kapoor has approached the organization format of this
    system on the whole and as individual Sutras. His approach and the results give us further insight of this wonderful
    system.</p>
<p>Here Sutras 1, 2 & 3 and Upsutras 1 & 2 are being introduced from the book "Goldbach Theorem" to give insight about
    their formats and to give idea about the basics of the different processes and the way this system is approaching
    different branches of mathematics in a unified way as a single discipline. The parallel text of the Sutras adopted
    in different scriptures is being searched. Dr. Kapoor points out Shatpath Brahman. Hereunder, the illustrative
    reference with working rule is indicated in reference to Ganita Sutra 1. The other Sutras may be taken up in due
    course of time</p>
<span class="offset3 span6">
    <p><h4 class="span12">GANITA SUTRA 1</h4>
<b>Text in Roman script:</b><p>Ekadhikena Purvena</p></p>
<p><b>Working rule / simple English rendering: </b><p>“One more than the previous one.”</p></p>
        <!-- To be done later -->
        <p><b>Source concept:</b></p>
        <p> “One”</p>

        <p>Format:</p>
    <img src="../images/ganita1.gif"></img>
</span>
        <h4>Basics / technical words:</h4>
<p >Text avails three technical words which take us to the basics of the working domain of the Sutra. These are: (1) Eka
    (one), (2) Edhikena (more than), and (3) Purvena (previous). These three technical words take us to the three basic
    concepts: (1) the concept of “one”, (2) the concept of “one more than”, and (3) the concept of “previous one”. The
    first concept is the wholesome concept. Here it manifests in many ways and can be availed as a unit, unit entity,
    unit measure, the counting number 1, the close interval of unit length etc. etc. The second concept “more than” is
    the concept of increase, the concept of comparison of one entity being bigger than / more than other entity. The
    third concept is the concept of “order”. It is the concept of a queue, a pair of entities of a queue of which one is
    previous as comparison to the second and the second automatically being subsequent to the first. Therefore, the
    Sutra 1 has many applied values which would work out for us (1) counting, (2) arrangement of counting pebbles, (3)
    arrangement of beads along a thread, (4) the queue of points along with line etc. etc. If we try to chase the
    repeated applications of “one more than the previous one”, we can have a countably infinite steps. Not only that, we
    can by a suitable choice of “one” and the application of the working rule of Sutra 1, have a chase for uncountable
    infinity as the line is by having sequential placements of points as counts with index values allotted as per the
    working rule of Sutra 1 from the set of natural numbers (whole numbers / counting numbers).</p>