<h5>Glimpses of Vedic Mathematics</h5>
<p>[Authored (1990) by Prof. Krishnaji, Prof. of Physics and Ex-Pro-Vice Chancellor, Allahabad University, Allahabad,
    India.] </p>
<p>Vedic mathematics was lost to the modern world over several thousand years. Fortunately, the renowned scholar
    Jagadguru Swami Bharti Krisna Tirthahji Maharaj, Shankracharya of Sharda Peeth and Goverdham Math discovered 16
    Vedic Sutras and 13 Upsutras in the Parishistha of Atharvved. After continuous Sadhana and hardwork, he was able to
    decode them and get wide ranging mathematical principles and applications from them. He found that these Sturas
    cover all aspects of mathematical science in depth. He wrote sixteen volumes on Vedic mathematics covering all
    aspects of these sutras in depth. Unfortunately, the manuscript was lost which fact was finally confirmed in 1956.
    During his last days when his health was failing and his eyesight was weak, he rewrote from his memory an
    introductory account of the subject. He attained Mahasmadhi in 1960. Later in 1965 a book entitled “Vedic
    Mathematics” was published. This book is edited by Dr. V.S.Agarwala with the help of Smt. Manula Trivedi on the
    basis of manuscript and notes left by Swamijee. This book is therefore, the first book to give a glimpse of Vedic
    mathematics and to reestablished the subject. The book attracted the attention of several Indians and foreigners.
    Dr. Narinder Puri of Roorkee University took up the cause of Vedic Mathematics in right earnest. His Holiness
    Maharishi Mahesh Yogi spread the message of Vedic mathematics throughout the world by sending Dr. Puri to several
    countries and making it possible for many schools all over the world start teaching Vedic mathematics. A former
    minister of Human Resource Development, in the Government of India, Sh. P.V.Narasima Rao made a reference in
    Parliament about the work on Vedic mathematics which created a wider interest in the nation. Rashtritya Ved Vidya
    Pratishthan started looking into the matter and appointed a committee on Vedic Mathematics. During the same period a
    controversy arose about the source of these 16 Sutras and the level of mathematics contained in them. One view was
    that these Sutras do not have a Vedic source and that they deal only with simple arithmetical operations.
</p>
<p>
    In the meantime, Dr. Sant Kumar Kapoor, inspired by integrated impact of the Ganita Sutras, started working on basic
    aspects of the mathematical structure of Vedic literature. He got several clues from Ganita Sutras, Maheshwara Sutra
    and many other Vedic Mantras. He was inspired by the divine blessing from Yograj Sri Sripad Babaji of Vrindavan and
    His Holiness Maharishi Mahesh Yogiji at Maharishi Nagar. He has been awarded Ph.D. degree by Kurukshetra University,
    in December 1990 on his thesis titled “Mathematical Basis of Vedic literature”. His work shows that the potential of
    Ganita Sutras is much higher than what appears in the book “Vedic Mathematics” and the mathematical structure of
    Ganita Sutras is similar to that of Samved indicating that Ganita Sturas belong to Vedic family. His work shows that
    the Devnagri alphabet and the Vedic scriptures are mathematically organized. Perhaps a more important aspect of his
    work in the existence of Real Geometric Spaces of higher dimensions in the form of a continuum. A comprehensive
    description of his research is given in the next section. Dr. Sant Kumar Kapoor is presently working as a Visiting
    Professor in the Indian Institute of Maharishi Vedic Science & Technology which is a part of Maharishi Ved Vigyan
    Vishwa Vidyapeeth, Maharishi Nagar. Three research students are working in our institution on the structure and
    properties of fourth, fifth and sixth dimensional spaces.
</p>
        <h2>Vedic mathematical Research done by Dr. S. K. Kapoor</h2>
<p>
    Studies reveal that knowledge and organisation of knowledge are two distinct disciplines. The thesis of Dr.
    S.K.Kapoor is substantively covering the organisational aspect of Vedic knowledge. The main results of the thesis
    and his subsequent research can be summed as under: 1. Real 4 and higher dimensional spaces do exist. Real 4 and
    higher dimensional spaces were not only known to the Vedic seers but those were precisely availed by them for
    organisation of vedic knowledge. Vedic alphabet format is a precise setup of4-space. The alphabet letters of
    Devnagri script, their forms formulations, combinations and rules etc. are precisely mathematical. Sakala Rigvedic
    Samhita is the oldeset scripture of mankind. The organisational format of this Samhita is precisely that of real
    6-space. Vedic knowledge accepts a measuring rod constituted by regular bodies of the first six real dimensional
    spaces which admit formulations as:
</p>
<img ng-src="images/glimps6.gif" />
<p>The organisational format of Srimad Bhagwad Gita emerges to be of prime importance as it is parallel to the
    organising power of the knowledge content of the scripture. This format tallies with the format of human body on the
    one hand and the sun on the other hand as of real 6-space. The Trinity of Gods namely Brahma, Mahesh, Vishnu are the
    overlords of real 4, 5 & 6 spaces respectively. The geometrical continuum expressed as manifestation layers of 4
    folds of consecutive dimensional spaces contents. These folds of the nth manifestation layer can be represented as
    under:</p>
            