<h3>Goldbach's Conjecture</h3>
<p>Dr. S.K.Kapoor has authored a book "Goldbach Theorem" in which proof of Goldbach's conjecture has been published as
    "Proof of Goldbach Theorem". Subsequently Step 2A has been added. This proof inclusive of Step 2A is published as an
    Article in Issue No. 10 (July 2000) of Vedic Mathematics Newsletter</p>
<p>Precisely the conjecture is that every even greater than 2 can be written as a pair of sum of primes. It is part of
    the famous letter (June 7, 1942) of Christian Goldbach (1690-1764) to great Swiss mathematician Leonhard Euler.
    Since then this conjecture has remained a brain teaser and unsolved problem of the order of Fermat's Last Theorem
    and Riemann Hypothesis.</p>
<p>The book "Goldbach Theorem" has four chapters. The proof except Step 2A has been settled in Chapter 1 of the book.
    All what is presumed as background is only the mature comprehension of the whole numbers. As every even number by
    definition admits two parts, therefore, it is this property of evens which has come very handy to express even E as
    M+M. With this the maximum possible pairs with numbers 0 to E have been formed putting a restriction that some of
    the numbers of the pairs should always be equal to E. The pairs are designated as duplexes. Then the recursive
    subsets of the source set of maximum number of duplexes of given even number E are constructed and the subset of
    duplexes with both numbers of the duplexes being primes is reached at. The cardinality of this set is computed as ³
    1/4×ÖE.</p>
<p>As 1/4×ÖE for E ³ 64 is ³ 2, so after accounting for the duplex (1,E-1), there always remains a minimum of one such
    duplex whose both members are to be primes and with it the conjecture stands satisfied. Otherwise, this in fact,
    amounts to extension of the conjecture for E³ 64 from expectation of one partition for E as sum of primes to that of
    the minimum of 1/4×ÖE number of partitions for E as sum of primes.</p>
<p>Chapter 2 of the book takes us to Vedic geometric inspiration and approach of di-monad format (a format which accepts
    entity as of two parts). The interesting property of the geometric setup of "square" of area E is that such a square
    would be admitting ÖE as a side of the square. This gives us the ratio of area E and the sum of its four sides as
    1/4×ÖE. The conceptual parallelism is much inspiring. This makes Vedic geometric approach as much potentialised
    approach.</p>
<p>Chapter 3 of the book introduces a slide rule for finding out solutions for E=P+Q. This together with the computer
    testing (Chapter 4) for the number of solutions of equation E=P+Q adds empirical value to the proof.</p>
