<h3>Scriptures Formats</h3>
<p>Knowledge and organization of knowledge are two different aspects of pure knowledge. One of the beautiful features of
    Vedic scriptures is that their knowledge is organized on geometric formats of real four and higher dimensional
    spaces. One sequence of such formats have been communicated by Dr. S. K. Kapoor during his interaction with other
    scholars. Here these are being reproduced in the form and sequence these have been taken up during this
    interaction:
</p>
<accordion close-others=false>
    <accordion-group heading="Scriptures Format 1:">
        <h5>OM</h5>

        <p>Om is one syllable scripture complete in itself. The past, present and future and all that transcends three
            folds of
            time is verily Om. This way the sole syllable expresses as four folds scripture complete in itself
            exhaustively
            covering the past, present and future and all that transcends the three folds of time on tetra-monad
            format.</p>

        <p><b>Source scripture:</b></b> Mandukyo Upanishad.</p>
    </accordion-group>
    <accordion-group heading="Scriptures Format 2:">
        <h5>VED</h5>

        <p>Ved means knowledge; the whole range of knowledge. This the whole range of knowledge as one Ved was
            reorganised by
            Brahm-Rishi Ved Vyas into four Veds: Rig Ved, Yajur Ved, Sam Ved and Atharv Ved. Literally Vyas means
            diameter of a
            circle (a representative regular body of 2-space which in the role of dimension manifests as 4-space.</p>

        <p>The organization of one Ved as four Veds is parallel to the one syllable Om unfolding on tetra-monad format
            i.e. as
            an expression of four folds. With this shift to a diameter, there is a shift from a monad (linear order) to
            di-monad
            (spatial order). This gives expression for 1 as 01 whose reflection member is 10 i.e. ten</p>

        <p>The above shift from 1 to 10 in that order and sequence, gives us:</p>
        <ol>
            <li>10+01+10 = 21, the total number of branches of Rig Ved.</li>
            <li>10×10+01×01 = 101, the total branches of Yajur Ved</li>
            <li>10×10×10 = 1000, the total branches of Sam Ved</li>
            <li>10–01 = 9, the total branches of Atharv Ved</li>
        </ol>
        <p><b>Source scriptures:</b><i>Upanishads (as this knowledge is overflowing in Upanishadic literature with
            specific
            mentions at
            many places, as such the individual references which are large in number are being mentioned as such and
            they
            collectively are being expressed as the source scriptures being Upanishads. The other Vedic literature like
            Purans
            <p>Lord Brahma, the creator the supreme, is the four heads Lord, with each head equipped with two eyes. He
                sits
                and Upangas also prominently enlighten about it).</i></p>
    </accordion-group>
    <accordion-group heading="Scriptures Format 3:">
        <h5>IDOL OF LORD BRAHMA</h5>
        majestically on lotus seat of eight petals and meditates in cavity of his heart on his Lord, Lord Shiv and
        multiplies himself as ten Brahmas.</p>
        <p>The idol of Lord Brahma as of four heads Lord, with two eyes in each head, sitting on lotus seat of eight
            petals and
            meditating upon his Lord, Lord Shiv, in the cavity of his heart, as such, accepts the format of hypercube-4
            whose
            four folds are 2-space in the role of dimension (parallel to two eyes in each head), 3-space in the role of
            boundary
            (parallel to eight components of boundary of hypercube-4 and eight petals of the lotus seat of Lord Brahma),
            4-space
            in the role of domain (parallel to the domain of four heads Lord) and 5-space in the role of origin
            (parallel to the
            seat of Lord Shiv, five heads Lord, in the cavity of the heart of Lord Brahma).</p>

        <p><b>Source scriptures:</b><i>Upanishads, Puranas, Yog Vashishta (This enlightenment about Lord Brahma is
            overflowing
            the large number of Vedic scriptures.).</i></p>
    </accordion-group>
    <accordion-group heading="Scriptures Format 4:">
        <h5>IDOL OF LORD SHIV</h5>
        <p>
            Lord Brahma, the creator the supreme, is the four heads Lord, with each head equipped with two eyes. He sits
            majestically on lotus seat of eight petals and meditates in cavity of his heart on his Lord, Lord Shiv and
            multiplies himself as ten Brahmas.</p>

        <p>The idol of Lord Brahma as of four heads Lord, with two eyes in each head, sitting on lotus seat of eight
            petals and meditating upon his Lord, Lord Shiv, in the cavity of his heart, as such, accepts the format of
            hypercube-4 whose four folds are 2-space in the role of dimension (parallel to two eyes in each head),
            3-space in the role of boundary (parallel to eight components of boundary of hypercube-4 and eight petals of
            the lotus seat of Lord Brahma), 4-space in the role of domain (parallel to the domain of four heads Lord)
            and 5-space in the role of origin (parallel to the seat of Lord Shiv, five heads Lord, in the cavity of the
            heart of Lord Brahma).</p>

        <p><b>Source scriptures:</b><i>Upanishads, Puranas, Yog Vashishta (This enlightenment about Lord Brahma is
            overflowing
            the large number of Vedic scriptures.).</i></p>

    </accordion-group>
</accordion>
<h4>Scriptures Format 4:</h4>

