<h3>Scriptures Formats</h3>
<p>Knowledge and organization of knowledge are two different aspects of pure knowledge. One of the beautiful features of
    Vedic scriptures is that their knowledge is organized on geometric formats of real four and higher dimensional
    spaces. One sequence of such formats have been communicated by Dr. S. K. Kapoor during his interaction with other
    scholars. Here these are being reproduced in the form and sequence these have been taken up during this
    interaction-
</p>
<accordion close-others=false>
    <accordion-group heading="Scriptures Format 1-OM">
        <h5>OM</h5>

        <p>Om is one syllable scripture complete in itself. The past, present and future and all that transcends three
            folds of
            time is verily Om. This way the sole syllable expresses as four folds scripture complete in itself
            exhaustively
            covering the past, present and future and all that transcends the three folds of time on tetra-monad
            format.</p>

        <p><b>Source scripture-</b></b> Mandukyo Upanishad.</p>
    </accordion-group>
    <accordion-group heading="Scriptures Format 2-VED">
        <h5>VED</h5>

        <p>Ved means knowledge; the whole range of knowledge. This the whole range of knowledge as one Ved was
            reorganised by
            Brahm-Rishi Ved Vyas into four Veds- Rig Ved, Yajur Ved, Sam Ved and Atharv Ved. Literally Vyas means
            diameter of a
            circle (a representative regular body of 2-space which in the role of dimension manifests as 4-space.</p>

        <p>The organization of one Ved as four Veds is parallel to the one syllable Om unfolding on tetra-monad format
            i.e. as
            an expression of four folds. With this shift to a diameter, there is a shift from a monad (linear order) to
            di-monad
            (spatial order). This gives expression for 1 as 01 whose reflection member is 10 i.e. ten</p>

        <p>The above shift from 1 to 10 in that order and sequence, gives us-</p>
        <ol>
            <li>10+01+10 = 21, the total number of branches of Rig Ved.</li>
            <li>10×10+01×01 = 101, the total branches of Yajur Ved</li>
            <li>10×10×10 = 1000, the total branches of Sam Ved</li>
            <li>10–01 = 9, the total branches of Atharv Ved</li>
        </ol>
        <p><b>Source scriptures-</b><i>Upanishads (as this knowledge is overflowing in Upanishadic literature with
            specific
            mentions at
            many places, as such the individual references which are large in number are being mentioned as such and
            they
            collectively are being expressed as the source scriptures being Upanishads. The other Vedic literature like
            Purans
            <p>Lord Brahma, the creator the supreme, is the four heads Lord, with each head equipped with two eyes. He
                sits
                and Upangas also prominently enlighten about it).</i></p>
    </accordion-group>
    <accordion-group heading="Scriptures Format 3-IDOL OF LORD BRAHMA">
        <h5>IDOL OF LORD BRAHMA</h5>
        majestically on lotus seat of eight petals and meditates in cavity of his heart on his Lord, Lord Shiv and
        multiplies himself as ten Brahmas.</p>
        <p>The idol of Lord Brahma as of four heads Lord, with two eyes in each head, sitting on lotus seat of eight
            petals and
            meditating upon his Lord, Lord Shiv, in the cavity of his heart, as such, accepts the format of hypercube-4
            whose
            four folds are 2-space in the role of dimension (parallel to two eyes in each head), 3-space in the role of
            boundary
            (parallel to eight components of boundary of hypercube-4 and eight petals of the lotus seat of Lord Brahma),
            4-space
            in the role of domain (parallel to the domain of four heads Lord) and 5-space in the role of origin
            (parallel to the
            seat of Lord Shiv, five heads Lord, in the cavity of the heart of Lord Brahma).</p>

        <p><b>Source scriptures-</b><i>Upanishads, Puranas, Yog Vashishta (This enlightenment about Lord Brahma is
            overflowing
            the large number of Vedic scriptures.).</i></p>
    </accordion-group>
    <accordion-group heading="Scriptures Format 4-IDOL OF LORD SHIV">
        <h5>IDOL OF LORD SHIV</h5>
        <p>
            Lord Brahma, the creator the supreme, is the four heads Lord, with each head equipped with two eyes. He sits
            majestically on lotus seat of eight petals and meditates in cavity of his heart on his Lord, Lord Shiv and
            multiplies himself as ten Brahmas.</p>

        <p>The idol of Lord Brahma as of four heads Lord, with two eyes in each head, sitting on lotus seat of eight
            petals and meditating upon his Lord, Lord Shiv, in the cavity of his heart, as such, accepts the format of
            hypercube-4 whose four folds are 2-space in the role of dimension (parallel to two eyes in each head),
            3-space in the role of boundary (parallel to eight components of boundary of hypercube-4 and eight petals of
            the lotus seat of Lord Brahma), 4-space in the role of domain (parallel to the domain of four heads Lord)
            and 5-space in the role of origin (parallel to the seat of Lord Shiv, five heads Lord, in the cavity of the
            heart of Lord Brahma).</p>

        <p><b>Source scriptures-</b><i>Upanishads, Puranas, Yog Vashishta (This enlightenment about Lord Brahma is
            overflowing
            the large number of Vedic scriptures.).</i></p>
    </accordion-group>
    <accordion-group heading="Scriptures Format 5-INCARNATIONS OF LORD VISHNU">
        <h5>INCARNATIONS OF LORD VISHNU</h5>
        <p>
            Lord Sakand is incarnation of Lord Vishnu. Lord Sakand a six heads lord with four eyes in each head and
            twelve long arms, is the incarnation of Lord Vishnu. Lord Sakand establishes the transcendental worlds by
            meditating upon eternity, eternally sustained by Dhruva (pole star).</p>

        <p>This description is parallel to the description of hypercube-6 with 4-space (parallel to four eyes in each
            head) in the role of dimension, 5-space in the role of boundary, 6-space in the role of domain and 7-space
            in the role of origin. The other incarnations of Lord Vishnu accepts this format.</p>

        <p><b>Source scriptures-</b><i>Upanishads, Puranas, Yog Vashishta (This enlightenment about Lord Brahma is
            overflowing
            the large number of Vedic scriptures.).</i></p>
    </accordion-group>
    <accordion-group heading="Scriptures Format 6-MEASURE AND MEASURING-ROD">
        <h5>MEASURE AND MEASURING-ROD</h5>
        <p>Lord Vishnu is the god of measuring-rod and Lord Brahma is the god of measure.</p>

        <p>The Lord Vishnu is the overlord of real 6-space and Lord Brahma is the overlord of real 4-space.</p>

        <P>Real 4-space plays the role of dimension of real 6-space. As such while the measuring-rod is constituted by
            domain (6-space), the measure remains at the dimension (4-space).</P>
        <p><b>Source scriptures-</b><i>Manasara and other Sthapatya Upved literature.</i></p>
    </accordion-group>
    <accordion-group heading="Scriptures Format 7:- SHAD-CHAKRA FORMAT OF HUMAN BODY">
        <h5>SHAD-CHAKRA FORMAT OF HUMAN BODY</h5>

        <p>Vedic (Upanishadic) enlightenment is that human body admits Shad (six) Chakras (circuits) format. The
            external characteristics of the Shad-Chakras are 2, 4, 6, 8, 10 & 12.</p>

        <p>The external characteristics of Shad-Chakras of human body are parallel to the number of boundary components
            of hypercubes-1, 2, 3, 4, 5 & 6.</p>

        <P>This format of Shad-Chakras is the format of the order of 6-space whose presiding deity is Lord Vishnu. The
            creator-the-supreme, Lord Brahma, overlord of real 4-space as such is the presiding deity of the measure of
            the human body.</P>
        <p><b>Source scriptures:-</b><i> Upanishads and Darashan Shastra</i></p>
    </accordion-group>
    <accordion-group heading="Scriptures Format 8:- ORGANIZATION OF KNOWLEDGE OF SRI VISHNU PURAN">
        <h5>ORGANIZATION OF KNOWLEDGE OF SRI VISHNU PURAN</h5>

        <p>Sri Vishnu Puran is a scripture of 6 Ansha (parts). The organization of knowledge of all the six Ansha of Sri
            Vishnu Puran is of 126 chapters.</p>

        <p>This organization of knowledge is as per the measuring-rod and the Shad-Chakra format of human body as
            sustained within the Vishnu-lok (6-space domain)</p>

        <P>On the artifices of whole numbers this organization admits expression as:
            6×(1+2+3+4+5+6) = 6×21 = 126.</P>
        <p><b>Source scriptures:-</b><i> Sri Vishnu Puran Samhita</i></p>
    </accordion-group>
    <accordion-group heading="Scriptures Format 9:- VISHWA- RUPA">
        <h5>VISHWA- RUPA</h5>

        <p>Shatpath Brahman preserves the enlightenment : Tawastha had one son. He had three heads and six eyes. And
            three mouths. So was his form (Rupa). That is why he was named - Vishwa Rupa (form of the world).</p>

        <p>This is parallel to the world of three dimensions and domain-boundary ratio of the representative regular
            body of 3-space being A3:6A2. The enlightenment preserve in the Shatpath Brahman as such is the
            enlightenment about the geometric setup of the representative regular body of 3-space. Being a
            representative regular body so is the representative form of the dimensional space / world.</p>
        <p><b>Source scriptures:-</b><i>Shatpath Brahman (Kanda 1, Adhayaya 6, Brahman 3, Shaloka 1)</i></p>
    </accordion-group>
    <accordion-group heading="Scriptures Format 10:- TRISHAPTA (3 AND 7)">
        <h5>TRISHAPTA (3 AND 7)</h5>

        <p>"Yeh Trishapta Paryani Vishwa" (This world is enveloped by Trishapata i.e. 3 and 7). Parallel to it is that
            3-space has 7 geometries of signatures (0, 1, 2, 3, 4, 5, 6) corresponding to the cube with no surface
            plate, cube with 1 surface plate, cube with 2, 3, 4, 5 & 6 surface plates respectively.</p>

        <p><b>Source scriptures:-</b><i>Atharv Ved Samhita (1.1.1.1)</i></p>

    </accordion-group>
    <accordion-group heading="Scriptures Format 11:- ONE, TWO, THREE AND EIGHT">
        <h5>ONE, TWO, THREE AND EIGHT</h5>

        <p>Swateshawara Upanishad preserves the enlightenment that sequential order 1, 2, 3 and 8 leads to Moksha
            (liberation). Parallel to it is that on the artifices of whole numbers, the sequence 1, 2, 3 and 8 gives us
            1×1, 1×2, 1×3 and 2×4. Parallel to it on geometric formats the message is that the order of linear
            dimensions works uptil first three dimensions and a step ahead is the world of spatial dimensions. In other
            words while 3-space admits linear dimensions, the 4-space admits spatial dimensions.</p>

        <p><b>Source scriptures:-</b><i>Swateshwara Upanishad</i></p>
    </accordion-group>
</accordion>

