<h3>Vedic Mathematics Links</h3>
<p>For the scholars interested to know the basics and the potentialities of Vedic mathematics operations the first book
    advised is "Vedic Mathematics" by Swami Bharti Krisna Tirthaji Maharaj, presently published by M/s. Moti Lal
    Banarasi Dass, Oriental Publishers, New Delhi (http://www.mlbd.com). Since 1965 till date sufficiently rich
    literature has come up which may help the students and teachers to acquire desired proficiency to handle the school
    mathematics curriculum in much easier way. From the experiences of all those who had attempted school mathematics
    with the help of Vedic mathematics operations it can be said that the approach here is straight mental one line
    solutions for all this mathematics being taught in the schools. For higher levels, the interested scholars may
    update themselves from the following websites. www.vedicmaths.org
    www.vedicmathematics.co.uk</p>